<% provide(:title, 'Sign in') %>
<div class="d-flex align-items-center justify-content-center mt-4">
  <div>
    <h2 class="text-center"><%= t('forms.sign_in') %></h2>
    <%= link_to sign_up_path do %>
      <h5 class="text-center fw-semibold text-dark m-0"><%= t('sessions.create_an_account') %></h5>
    <% end %>

    <div class="mt-5 input-size w-30 ">
      <%= form_with model: @user, url: login_path, scope: :user  do |form| %>
        <%= render partial: "shared/form_errors", locals: { object: form.object } %>

        <div class="mb-3 row">
          <div class="col-md-3 ">
            <%= form.label :email, class: "form-label" %>
          </div>
          <div class="col-md-9">
            <%= form.email_field :email, class: "form-control border-danger", required: true %>
          </div>
        </div>
        
        <div class="mb-3 row">
          <div class="col-md-3">
            <%= form.label :password, class: "form-label" %>
          </div>
          <div class="col-md-9">
            <%= form.password_field :password, class: "form-control border-danger", required: true %>
          </div>
        </div>

        <div class="text-center">
          <%= form.submit t('forms.sign_in'), class: "btn btn-danger mt-5 w-20" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
