<nav class="h-auto navbar bg-danger navbar-quizapp position-sticky">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= link_to welcome_path, class: 'navbar-logo' do %>
        <%= logo_html.html_safe %>
      <% end %>
    </div>

    <% if current_user %>
      <div class="d-flex align-items-center">
        <h5 class="me-3 mb-0">
          <%= link_to t('forms.scoreboard'), scoreboard_steps_path, class: 'text-white m-0 fw-normal' %>
        </h5>
        <h5 class="me-3 mb-0">
          <%= link_to t('forms.edit_profile'), edit_user_path, class: 'text-white m-0 fw-normal' %>
        </h5>
        <h5 class="mb-0">
          <%= link_to t('forms.sign_out'), '#', class: 'text-white m-0 fw-normal', data: { bs_toggle: 'modal', bs_target: '#signoutModal' } %>
        </h5>
          <h5 class="mb-0">
            <%= render "shared/flag" %>
        </h5>
      </div>
    <% end %>
  </div>
</nav>
