<% provide(:title, t('scoreboard.title')) %>
<div id="check-answers" class="container  align-items-center mt-4 mb-4 pt-5">
  <h1 class="text-danger text-center"><%= t('scoreboard.heading') %></h1>
  <hr class="border border-danger w-100 border-2 my-2">

  <table class="table mt-4">
  <td> Quiz </>
  <td> User </>
  <td> Date </>
  <td> Score </>
  <td> Downloaded Results </>
  <tbody class="table-group-divider border-danger">
    <% @top_scores.each_with_index do |answer, _index| %>
        <tr>
          <td>
            <%= t('scoreboard.table.quiz_number', id: answer.id) %>
          </td>
          <td>
            <%= answer.user.username.humanize  %>
          </td>
          <td>
            <%= answer.date_attempted.strftime('%B %d, %Y') %>
          </td>
          <td>
            <%= answer.score %>%
          </td>
          <td>
            <%= link_to download_steps_path(format: :csv, id: answer.id), class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-25-hover d-flex align-items-center' do %>
              <i class="bi bi-arrow-down-circle-fill me-2"></i> <%= t('scoreboard.table.download_filename', id: answer.id) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div id="check-answers" class="container w-75">
  <div class="d-flex flex-column flex-sm-row justify-content-between">
    <%= link_to step_path(id: 1), class: "btn btn-outline-danger btn-md mb-2 mb-md-0" do %>
      <i class="bi bi-play-circle me-2"></i> <%= t('scoreboard.buttons.start_new_quiz') %>
    <% end %>

    <%= link_to scoreboard_steps_path(format: :csv), class: 'btn btn-danger btn-md mb-2 mb-md-0' do %>
      <i class="bi bi-arrow-down-circle-fill me-2"></i> <%= t('scoreboard.buttons.download_all_results') %>
    <% end %>
  </div>
</div>
